@import "../../../mediaquery.scss";
.withdraw__page{
    display: flex;
    flex-direction: column;
    margin: 0px 1rem;
    .withdraw_footer{
        margin-top: 20rem;
    }
    .withdraw_content{
        display: flex;
        flex-direction: column;
        gap: 10rem;
        .withdraw_content_history{
        }
    }
}
